body {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.header {
  color: #333;
  z-index: 1;
}

.header-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.header-subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  color: #536DFE;
}

.header-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
  color: #555;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  margin: 0 10px;
  font-size: 2.5rem; /* Slightly increased from 1.5rem to 1.7rem */
  color: #536DFE;
  text-decoration: none;
  transition: outline 0.3s ease, color 0.3s ease; /* Add transition for smooth outline effect */
}

.social-icon:hover {
  outline: 2px solid black; /* Adds a small black outline around the icon */
  outline-offset: 2px; /* Creates a small space between the icon and the outline */
  color: #333; /* Optional: Change color on hover for better contrast */
}

/* Glowing Rainbow Text Styles */
.glowing-text {
  font-size: 2rem; /* Adjust to match your design */
  font-weight: 700; /* Bold text */
  background: linear-gradient(90deg, #ff0000, #ff7700, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00f3, #ff0000);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowing 3s ease-in-out infinite;
}

@keyframes glowing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Other styling */
.header-description {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0;
  color: #555;
}

.header-description-sub {
  font-size: 1.1rem;
  font-weight: 400;
  color: #777;
  margin-top: 5px;
}

