body {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Adjust color as needed */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url('../assets/darkbg.png'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  position: relative;
}

.header {
  z-index: 1;
  color: #333;
}

.header-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.header-subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  color: #536DFE; /* Use a blue that matches your design */
}

.header-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
  color: #555;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #536DFE;
  text-decoration: none;
}

.resume-button {
  background-color: #536DFE;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #3A4EB9;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  opacity: 0.2; /* Adjust opacity as needed */
}
