body {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.header {
  color: #333;
  z-index: 1;
}

.header-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.header-subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  color: #536DFE;
}

.header-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
  color: #555;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  margin: 0 10px;
  font-size: 2.5rem; /* Slightly increased from 1.5rem to 1.7rem */
  color: #536DFE;
  text-decoration: none;
  transition: outline 0.3s ease, color 0.3s ease; /* Add transition for smooth outline effect */
}

.social-icon:hover {
  outline: 2px solid black; /* Adds a small black outline around the icon */
  outline-offset: 2px; /* Creates a small space between the icon and the outline */
  color: #333; /* Optional: Change color on hover for better contrast */
}
